<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define ProductName="КИТ" ?>
  <?define ProductVersion="2.0.0.9" ?>
  <?define ProductCode="*"?>
  <?define UpgradeCode="D1091144-1DA7-4107-A412-F1ACEB40A422"?>
  <?define Manufacturer="BEMN"?>

  <Product Id="$(var.ProductCode)" Name="$(var.ProductName)" Language="1049" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200"  Compressed="yes" />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">



      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="ApplicationShortcutDesktop" Guid="*">
          <Shortcut Id="ApplicationDesktopShortcut"
                    Name="КИТ"                   
                    Target="[INSTALLLOCATION]KIT.exe"
                    WorkingDirectory="INSTALLLOCATION">
            <Icon Id="Logo" SourceFile="Logo3.ico" />
          </Shortcut>
          <RemoveFolder Id="DesktopFolder" On="uninstall"/>
          <RegistryValue
            Root="HKCU"
            Key="Software\$(var.Manufacturer)\$(var.ProductName)"
            Name="installed"
            Type="integer"
            Value="1"
            KeyPath="yes"/>
        </Component>
      </Directory>

      <Directory  Id="ProgramFilesFolder">
        <Directory  Id="INSTALLLOCATION" Name="$(var.ProductName)">
        </Directory>



      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder"  Name="$(var.ProductName)">
          <Component Id="ApplicationShortcutKIT" Guid="4ABA874B-D1C9-4CE5-8140-0D3424258899">
            <Shortcut Id="ShortcutKIT"
                 Name="КИТ"
                 Description="$(var.ProductName)"
                 Target="[INSTALLLOCATION]KIT.exe"
                 WorkingDirectory="INSTALLLOCATION">
              <Icon Id="KIT.exe" SourceFile="Logo3.ico"/>
            </Shortcut>
            <Shortcut Id="UninstallLIT"
                 Name="Uninstall КИТ"
                 Target="[SystemFolder]msiexec.exe"
                 Arguments="/x [ProductCode]"
                 Description="Uninstalls KIT" />
            <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.ProductName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>
    </Directory>
    <WixVariable Id="WixUILicenseRtf" Value="C:\license.rtf" />


    <Feature Id="ProductFeature"  Title="SetupProject1" Level="1">
      <ComponentRef Id="ProductComponent" />
      <ComponentRef Id="ApplicationShortcutKIT" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
    </Feature>


    <Property Id="PREVIOUSVERSIONSINSTALLED"  Secure="yes" />

    <Property Id="REINSTALLMODE" Value="amus" />
    <MajorUpgrade Schedule="afterInstallInitialize"
              DowngradeErrorMessage="A later version of KIT is already installed"
              AllowSameVersionUpgrades="yes" />


    <!--Сборка iec61850 требует Visual C++ 14-->
    <!--<Feature Id="VCRedist"
         Title="Visual C++ 14.0 Runtime"
         AllowAdvertise="no"
         Display="hidden"
         Level="1">
      --><!--<MergeRef Id="VCRedist1"/>--><!--
      --><!--<MergeRef Id="VCRedist2"/>--><!--
      --><!--<MergeRef Id="VCRedist3"/>--><!--
      --><!--<MergeRef Id="VCRedist4"/>--><!--
      --><!--<MergeRef Id="VCRedist5"/>--><!--
      --><!--<MergeRef Id="VCRedist6"/>--><!--
    </Feature>-->
    <DirectoryRef Id="TARGETDIR">
      <!--<Merge Id="VCRedist1"
             SourceFile="C:\Program Files (x86)\Common Files\Merge Modules\Microsoft_VC140_CRT_x64.msm"
             DiskId="1"
             Language="0"/>-->
      <!--<Merge Id="VCRedist2"
             SourceFile="C:\Program Files (x86)\Common Files\Merge Modules\Microsoft_VC140_CRT_x86.msm"
             DiskId="1"
             Language="0"/>-->
      <!--<Merge Id="VCRedist3"
             SourceFile="C:\Program Files (x86)\Common Files\Merge Modules\Microsoft_VC140_DebugOpenMP_x64.msm"
             DiskId="1"
             Language="0"/>-->
      <!--<Merge Id="VCRedist4"
         SourceFile="C:\Program Files (x86)\Common Files\Merge Modules\Microsoft_VC140_DebugOpenMP_x86.msm"
         DiskId="1"
         Language="0"/>-->
      <!--<Merge Id="VCRedist5"
             SourceFile="C:\Program Files (x86)\Common Files\Merge Modules\Microsoft_VC140_OpenMP_x64.msm"
             DiskId="1"
             Language="0"/>-->
      <!--<Merge Id="VCRedist6"
         SourceFile="C:\Program Files (x86)\Common Files\Merge Modules\Microsoft_VC140_OpenMP_x86.msm"
         DiskId="1"
         Language="0"/>-->
    </DirectoryRef>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" ></Property>
    <!--<WixVariable Id="WixUILicenseRtf" Overridable="yes" Value="License.rtf"/>-->
    <UIRef Id="WixUI_InstallDir"/>



    <PropertyRef Id="NETFRAMEWORK45"/>
    <Condition Message="Для корректной работы приложения необходима установка .NET Framework 4.5">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>


  </Product>



</Wix>